header
{
    background-color: rgb(11, 117, 117);
}

h1
{
    color: rgb(241, 234, 219);
    text-align: center;
    font-variant: small-caps;
}

h2
{
    color: rgb(45, 11, 167);
    font-size: 200%;
    font-variant: small-caps;
}

section
{
    background-color: rgb(2, 117, 117);
}

a
{
    color: rgb(12, 32, 92);
    background-color: rgb(230, 210, 235);
}

img 
{
    display: none;
}